.skills
  width: 5px
  &__skills-wrapper
    display: inline-block
    margin: 0 20px
  
  &__skill
    margin-bottom: 5px

  &__tag
    display: inline-block
    vertical-align: top
    width: 50px
    margin: 0 20px

  &__name
    display: inline-block
    width: 30px

  &__skill-bar-background
    display: inline-block
    position: absolute
    width: 160px
    height: 20px
    margin: 2px 20px
    border-radius: 3px
    box-shadow: 0 0 0 1px $main-black
    background-color: $base-white

  // This class should set width by html.
  &__skill-bar
    display: inline-block
    position: absolute
    height: 20px
    border-radius: 3px
    background-color: $accent-blue